<%# モーダル %>

<%# ポートフォリオ１  言語モーダル %>
<div id="modal11" class="modal">
  <div class="modal-content">
    <h3>Work Life Balance</h3>
    <h4>使用している言語等</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ・HTML(erb), CSS(Sass), Javascript(jQuery), Ruby(Rails)
      </h5>
      <h5 class="left-align">
        ・materialize
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ１  実装機能モーダル %>
<div id="modal12" class="modal">
  <div class="modal-content">
    <h3>Work Life Balance</h3>
    <h4>実装した機能</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ・各ユーザー毎にイベントを登録し、各イベントのスタッフ毎にタスクを振り分けられる。
      </h5>
      <h5 class="left-align">
        ・ユーザー新規登録、ログイン、ログアウト、編集、削除
        </br>
        ⇛編集したい項目が多かったためdevise gem不使用。
      </h5>
      <h5 class="left-align">
        ・イベントの新規登録、編集、削除、複数イベントのページを切り替え
        </br>
        ⇛各ユーザーが複数のイベントに属する事ができる。
      </h5>
      <h5 class="left-align">
        ・タスクの新規登録、編集、削除、各イベントスタッフ毎にタスクを振り分けられる。
      </h5>
      <h5 class="left-align">
        ・カレンダーを各イベント毎に作成、表示。
        </br>
        ⇛各イベントのタスク期日をカレンダーに表示。
      </h5>
      <h5 class="left-align">
        ・作成期間…作成開始からデプロイまで約10日
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ１  工夫、苦労したモーダル %>
<div id="modal13" class="modal">
  <div class="modal-content">
    <h3>Work Life Balance</h3>
    <h4>工夫、苦労した点</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆工夫した点◆
      </h5>
      <h5 class="left-align">
        ・自分がイベントを複数主催する際に
        </br>
        「どのイベントで誰になにをいつまでに頼んでいたか把握しづらい」
        </br>
        という問題を解決できた。
      </h5>
      <h5 class="left-align">
        ・materializeのsidenavやtabを利用することにより少ないスペースで多くの情報を組み込むことができた。
      </h5>
      <h5 class="left-align">
        ・ユーザー毎のイベント毎のスタッフ毎のタスクを管理することができる。
      </h5>
      <h5 class="left-align">
        ・ユーザー登録画面で「テキストボックス、テキストエリア、プルダウン、ラジオボタン、チェックボックス、ファイルアップロード、ボタン」のフォームを実装している。
        </br>
        ⇛必要な情報には「必須チェック、未入力チェック、メールアドレス構文チェック、文字数チェック」のバリデーションをつけている。
      </h5>
      <h5 class="left-align">
        ◆苦労した点◆
      </h5>
      <h5 class="left-align">
        ・ユーザー機能にdeviseを使用していないため、ユーザーのアクセス制限機能を実装するのに苦労した。
      </h5>
      <h5 class="left-align">
        ・ユーザーが所属する、現在作業しているイベントをsessionで管理しているため、制限機能実装が少し複雑になった。
      </h5>
      <h5 class="left-align">
        ・各ユーザーごとのライブなど、多対多のDBの扱い方に苦労した。
      </h5>
      <h5 class="left-align">
        ・turbolinksとmaterializeのjavascript(jquery)の共存に苦労した。
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ１  URL、ソースモーダル %>
<div id="modal14" class="modal">
  <div class="modal-content">
    <h3>Work Life Balance</h3>
    <h4>URLやソースコード</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆なにができるか？発表資料◆
      </h5>
      <h5 class="left-align">
        <%= link_to  "個人アプリ発表資料", "https://drive.google.com/open?id=1V1VBsLOdPJxNRUQoYo2pk1OWRBcgIZDz", target: :_blank %>
      </h5>
      <h5 class="left-align">
        ◆URL◆
      </h5>
      <h5 class="left-align">
        <%= link_to "Work Life Balance", "https://livetasks.herokuapp.com/", target: :_blank %>
      </h5>
      <h5 class="left-align">
        ◆ソースコード(Github)◆
      </h5>
      <h5 class="left-align">
        <%= link_to "https://github.com/Shogo-Sakai/livetasks", "https://github.com/Shogo-Sakai/livetasks", target: :_blank %>
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ2  言語モーダル %>
<div id="modal21" class="modal">
  <div class="modal-content">
    <h3>Chatspace</h3>
    <h4>使用している言語等</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ・HTML(Haml), CSS(Sass), Javascript(jQuery), Ruby(Rails)
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ2  実装機能モーダル %>
<div id="modal22" class="modal">
  <div class="modal-content">
    <h3>Chatspace</h3>
    <h4>実装した機能</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ・ユーザーがグループを作成し、グループ内のユーザーとチャットができる。
      </h5>
      <h5 class="left-align">
        ・ユーザー新規登録、ログイン、ログアウト、編集、削除
        </br>
        ⇛devise gemを使用。
      </h5>
      <h5 class="left-align">
        ・グループの新規登録、編集、削除
        </br>
        ⇛グループへのユーザー追加時に登録ユーザーを非同期で検索するインクリメンタルサーチを実装。
      </h5>
      <h5 class="left-align">
        ・AWSを用いてデプロイ
      </h5>
      <h5 class="left-align">
        ・作成期間…開発からデプロイまで約10日
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ2  工夫、苦労したモーダル %>
<div id="modal23" class="modal">
  <div class="modal-content">
    <h3>Chatspace</h3>
    <h4>工夫、苦労した点</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆工夫した点◆
      </h5>
      <h5 class="left-align">
        ・Hamlによる記述でコードをすっきりわかりやすく書くことができた。
      </h5>
      <h5 class="left-align">
        ・他ユーザーがグループチャットを更新時に自分のページも更新する、自動更新機能を搭載。
      </h5>
      <h5 class="left-align">
        ◆苦労した点◆
      </h5>
      <h5 class="left-align">
        ・AWSに対する理解がまだ少し曖昧である。
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ2  URL、ソースモーダル %>
<div id="modal24" class="modal">
  <div class="modal-content">
    <h3>Chatspace</h3>
    <h4>URLやソースコード</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆URL◆
      </h5>
      <h5 class="left-align">
        <%= link_to "Chatspace", "http://52.194.73.69/", target: :_blank %>
      </h5>
      <h5 class="left-align">
        ◆ソースコード(Github)◆
      </h5>
      <h5 class="left-align">
        <%= link_to "https://github.com/Shogo-Sakai/chat-space", "https://github.com/Shogo-Sakai/chat-space", target: :_blank %>
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>



<%# ポートフォリオ3  %>
<%# ポートフォリオ3  言語モーダル %>
<div id="modal31" class="modal">
  <div class="modal-content">
    <h3>フリマアプリ</h3>
    <h4>使用している言語等</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ・HTML(Haml), CSS(Sass), Javascript(jQuery), Ruby(Rails)
      </h5>
      <h5 class="left-align">
        ・AWS、EC2、Nginx、Unicorn
      </h5>
      <h5 class="left-align">
        ・GitHubを使用したチーム開発
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ3  実装機能モーダル %>
<div id="modal32" class="modal">
  <div class="modal-content">
    <h3>フリマアプリ</h3>
    <h4>実装（担当）した機能</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆インフラ関係
      </h5>
      <h5 class="left-align">
        ・自動デプロイの環境設定
      </h5>
      <h5 class="left-align">
        ◆フロントサイド関係
      </h5>
      <h5 class="left-align">
        ・トップページのマークアップ
      </h5>
      <h5 class="left-align">
        ・ユーザーマイページ関連のマークアップ
      </h5>
      <h5 class="left-align">
        ・商品出品ページのマークアップ
      </h5>
      <h5 class="left-align">
        ◆サーバーサイド関係
      </h5>
      <h5 class="left-align">
        ・パンくず機能の実装
      </h5>
      <h5 class="left-align">
        ・カテゴリ表示、登録機能の実装
      </h5>
      <h5 class="left-align">
        ・商品出品の登録、削除機能の実装
      </h5>
      <h5 class="left-align">
        ・シードデータの作成、登録
      </h5>
      <h5 class="left-align">
        ・GitHubのREADME作成
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ3  工夫、苦労したモーダル %>
<div id="modal33" class="modal">
  <div class="modal-content">
    <h3>フリマアプリ</h3>
    <h4>工夫、苦労した点</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆チームで工夫した点◆
      </h5>
      <h5 class="left-align">
        ・毎日のミーティングの議事録を残す
        </br>
        ⇛後日誰が何をやったかを振り返りやすくしました。
      </h5>
      <h5 class="left-align">
        ・それぞれの作業が止まらないよう作業の分担を考慮
        </br>
        ⇛お互いの作業が止まることがなかったため、課題発表日の１週間前には重要機能の実装を完了できました。
      </h5>
      <h5 class="left-align">
        ・困っていたらメンバーに課題を共有
        </br>
        ⇛共有することで課題解決までの時間を短くすることができ、目標の納期に対して遅れることなく作業を進められました。
      </h5>
      <h5 class="left-align">
        ◆個人で工夫した点◆
      </h5>
      <h5 class="left-align">
        ・ハードウェアエンジニアとして経験したモノづくりの流れを活かすことができた
        </br>
        ⇛品質を下げることなく納期に対して余裕を持って開発、納品することができた。
      </h5>
      <h5 class="left-align">
        ・得意意識が高くなかった分野に対し、積極的に手を上げて取り組んだ。
        </br>
        ⇛理解が深まり、楽しく感じるまでに成長し、自信がつけることができました。
      </h5>
      <h5 class="left-align">
        ・チームメンバーの長所を伸ばし、短所を補えるように作業を進めた
        </br>
        ⇛向き不向きも考慮して作業を進めることで、実際の開発現場に入った際に活躍できるよう能力を高め合うことができました。
      </h5>
      <h5 class="left-align">
        ◆苦労した点◆
      </h5>
      <h5 class="left-align">
        ・Git、GitHubの使い方
        </br>
        ⇛慣れない間はコンフリクトが多発したため、修復するのに時間がたくさんかかりました。
        しかしrebaseなどをこまめに行うことでコンフリクトがあってもこまめに修復することで対処しました。
      </h5>
      <h5 class="left-align">
        ・「求められているもの」をしっかり確認せずに作業を進めていた
        </br>
        ⇛タスクに対して不要な機能を実装するのに時間を使用してしまいました。
        途中からは「Done is Better than Perfect.」を意識することで開発スピードを上げ、余った時間を使用して+αの機能を実装しました。
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ3  URL、ソースモーダル %>
<div id="modal34" class="modal">
  <div class="modal-content">
    <h3>フリマアプリ</h3>
    <h4>URLやソースコード</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆URL◆
      </h5>
      <h5 class="left-align">
        <%= link_to "フリマアプリ", "http://52.69.194.87/", target: :_blank %>
      </h5>
      <h5 class="left-align">
        ◆ソースコード(Github)◆
      </h5>
      <h5 class="left-align">
        <%= link_to "https://github.com/Shogo-Sakai/freemarket_sample_58a", "https://github.com/Shogo-Sakai/freemarket_sample_58a", target: :_blank %>
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ４ %>
<%# ポートフォリオ4  言語モーダル %>
<div id="modal41" class="modal">
  <div class="modal-content">
    <h3>ShowGo's Website</h3>
    <h4>使用している言語等</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ・HTML(erb), CSS(Sass), Javascript(jQuery), Ruby(Rails)
      </h5>
      <h5 class="left-align">
        ・materialize、google maps api
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ4  実装機能モーダル %>
<div id="modal42" class="modal">
  <div class="modal-content">
    <h3>ShowGo's Website</h3>
    <h4>実装した機能</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        「優しくて、親しみのある、暖かさ」
        </br>
        を全体のテーマとして作成。
      </h5>
      <h5 class="left-align">
        ・モーダルやカード等、materializeを使用した動きのあるサイトを実現。
      </h5>
      <h5 class="left-align">
        ・作成期間…仕様作成からデプロイまで約7日
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ4  工夫、苦労したモーダル %>
<div id="modal43" class="modal">
  <div class="modal-content">
    <h3>ShowGo's Website</h3>
    <h4>工夫、苦労した点</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆工夫した点◆
      </h5>
      <h5 class="left-align">
        「シンプルに、必要であれば、詳細に」
        </br>
        を技術テーマに作成。
      </h5>
      <h5 class="left-align">
        ・materialize利用による「情報の省スペース化」。
        </br>
        少ないスペースで多くの情報を入れるには？を考え工夫しました。
      </h5>
      <h5 class="left-align">
        ◆苦労した点◆
      </h5>
      <h5 class="left-align">
        ・materializeの応用。
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>

<%# ポートフォリオ4  URL、ソースモーダル %>
<div id="modal44" class="modal">
  <div class="modal-content">
    <h3>ShowGo's Website</h3>
    <h4>URLやソースコード</h4>
    <div class="modal-content__detail">
      <h5 class="left-align">
        ◆URL◆
      </h5>
      <h5 class="left-align">
        <%= link_to "ShowGo's Website", "https://showgogogo.herokuapp.com/", target: :_blank %>
      </h5>
      <h5 class="left-align">
        ◆ソースコード(Github)◆
      </h5>
      <h5 class="left-align">
        <%= link_to "https://github.com/Shogo-Sakai/portfolio", "https://github.com/Shogo-Sakai/portfolio", target: :_blank %>
      </h5>
    </div>
  </div>
  <div class="modal-footer">
    <p href="#port" class="modal-close waves-effect waves-green btn-flat">Close</p>
  </div>
</div>