<%# モーダル %>

<%# ポートフォリオ１  言語モーダル %>
<div id="modal11" class="modal">
  <div class="modal-content">
    <h4>Work Life Balance</h4>
    <h5>使用している言語等</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ・HTML(erb), CSS(Sass), Javascript(jQuery), Ruby(Rails)
      </h6>
      <h6 class="left-align">
        ・materialize
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ１  実装機能モーダル %>
<div id="modal12" class="modal">
  <div class="modal-content">
    <h4>Work Life Balance</h4>
    <h5>実装した機能</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ・各ユーザー毎にイベントを登録し、各イベントのスタッフ毎にタスクを振り分けられる。
      </h6>
      <h6 class="left-align">
        ・ユーザー新規登録、ログイン、ログアウト、編集、削除
        </br>
        ⇛編集したい項目が多かったためdevise gem不使用。
      </h6>
      <h6 class="left-align">
        ・イベントの新規登録、編集、削除、複数イベントのページを切り替え
        </br>
        ⇛各ユーザーが複数のイベントに属する事ができる。
      </h6>
      <h6 class="left-align">
        ・タスクの新規登録、編集、削除、各イベントスタッフ毎にタスクを振り分けられる。
      </h6>
      <h6 class="left-align">
        ・カレンダーを各イベント毎に作成、表示。
        </br>
        ⇛各イベントのタスク期日をカレンダーに表示。
      </h6>
      <h6 class="left-align">
        ・作成期間…作成開始からデプロイまで約10日
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ１  工夫、苦労したモーダル %>
<div id="modal13" class="modal">
  <div class="modal-content">
    <h4>Work Life Balance</h4>
    <h5>工夫、苦労した点</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ◆工夫した点◆
      </h6>
      <h6 class="left-align">
        ・materializeのsidenavやtabを利用することにより少ないスペースで多くの情報を組み込むことができた。
      </h6>
      <h6 class="left-align">
        ・ユーザー毎のイベント毎のスタッフ毎のタスクを管理することができる。
      </h6>
      <h6 class="left-align">
        ・ユーザー登録画面で「テキストボックス、テキストエリア、プルダウン、ラジオボタン、チェックボックス、ファイルアップロード、ボタン」のフォームを実装している。
        </br>
        ⇛必要な情報には「必須チェック、未入力チェック、メールアドレス構文チェック、文字数チェック」のバリデーションをつけている。
      </h6>
      <h6 class="left-align">
        ・自分がイベントを複数主催する際に
        </br>
        「どのイベントで誰になにをいつまでに頼んでいたか把握しづらい」
        </br>
        という問題を解決できた。
      </h6>
      <h6 class="left-align">
        ◆苦労した点◆
      </h6>
      <h6 class="left-align">
        ・ユーザー機能にdeviseを使用していないため、ユーザーのアクセス制限機能を実装するのに苦労した。
      </h6>
      <h6 class="left-align">
        ・ユーザーが所属する、現在作業しているイベントをsessionで管理しているため、制限機能実装が少し複雑になった。
      </h6>
      <h6 class="left-align">
        ・各ユーザーごとのライブなど、多対多のDBの扱い方に苦労した。
      </h6>
      <h6 class="left-align">
        ・turbolinksとmaterializeのjavascript(jquery)の共存に苦労した。
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ１  URL、ソースモーダル %>
<div id="modal14" class="modal">
  <div class="modal-content">
    <h4>Work Life Balance</h4>
    <h5>URLやソースコード</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ◆URL◆
      </h6>
      <h6 class="left-align">
        <%= link_to "Work Life Balance", "https://livetasks.herokuapp.com/", target: :_blank %>
      </h6>
      <h6 class="left-align">
        ◆ソースコード(Github)◆
      </h6>
      <h6 class="left-align">
        <%= link_to "https://github.com/Shogo-Sakai/livetasks", "https://github.com/Shogo-Sakai/livetasks", target: :_blank %>
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ2  言語モーダル %>
<div id="modal21" class="modal">
  <div class="modal-content">
    <h4>Chatspace</h4>
    <h5>使用している言語等</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ・HTML(Haml), CSS(Sass), Javascript(jQuery), Ruby(Rails)
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ2  実装機能モーダル %>
<div id="modal22" class="modal">
  <div class="modal-content">
    <h4>Chatspace</h4>
    <h5>実装した機能</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ・ユーザーがグループを作成し、グループ内のユーザーとチャットができる。
      </h6>
      <h6 class="left-align">
        ・ユーザー新規登録、ログイン、ログアウト、編集、削除
        </br>
        ⇛devise gemを使用。
      </h6>
      <h6 class="left-align">
        ・グループの新規登録、編集、削除
        </br>
        ⇛グループへのユーザー追加時に登録ユーザーを非同期で検索するインクリメンタルサーチを実装。
      </h6>
      <h6 class="left-align">
        ・AWSを用いてデプロイ
      </h6>
      <h6 class="left-align">
        ・作成期間…開発からデプロイまで約10日
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ2  工夫、苦労したモーダル %>
<div id="modal23" class="modal">
  <div class="modal-content">
    <h4>Chatspace</h4>
    <h5>工夫、苦労した点</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ◆工夫した点◆
      </h6>
      <h6 class="left-align">
        ・Hamlによる記述でコードをすっきりわかりやすく書くことができた。
      </h6>
      <h6 class="left-align">
        ・他ユーザーがグループチャットを更新時に自分のページも更新する、自動更新機能を搭載。
      </h6>
      <h6 class="left-align">
        ◆苦労した点◆
      </h6>
      <h6 class="left-align">
        ・AWSに対する理解がまだ少し曖昧である。
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ2  URL、ソースモーダル %>
<div id="modal24" class="modal">
  <div class="modal-content">
    <h4>Chatspace</h4>
    <h5>URLやソースコード</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ◆URL◆
      </h6>
      <h6 class="left-align">
        <%= link_to "Chatspace", "http://52.194.73.69/", target: :_blank %>
      </h6>
      <h6 class="left-align">
        ◆ソースコード(Github)◆
      </h6>
      <h6 class="left-align">
        <%= link_to "https://github.com/Shogo-Sakai/chat-space", "https://github.com/Shogo-Sakai/chat-space", target: :_blank %>
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>



<%# ポートフォリオ3  %>



<%# ポートフォリオ4  言語モーダル %>
<div id="modal41" class="modal">
  <div class="modal-content">
    <h4>ShowGo's Website</h4>
    <h5>使用している言語等</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ・HTML(erb), CSS(Sass), Javascript(jQuery), Ruby(Rails)
      </h6>
      <h6 class="left-align">
        ・materialize、google maps api
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ4  実装機能モーダル %>
<div id="modal42" class="modal">
  <div class="modal-content">
    <h4>ShowGo's Website</h4>
    <h5>実装した機能</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        「優しくて、親しみのある、暖かさ」
        </br>
        を全体のテーマとして作成。
      </h6>
      <h6 class="left-align">
        ・モーダルやカード等、materializeを使用した動きのあるサイトを実現。
      </h6>
      <h6 class="left-align">
        ・作成期間…仕様作成からデプロイまで約7日
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ4  工夫、苦労したモーダル %>
<div id="modal43" class="modal">
  <div class="modal-content">
    <h4>ShowGo's Website</h4>
    <h5>工夫、苦労した点</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ◆工夫した点◆
      </h6>
      <h6 class="left-align">
        「シンプルに、必要であれば、詳細に」
        </br>
        を技術テーマに作成。
      </h6>
      <h6 class="left-align">
        ・materialize利用による「情報の省スペース化」。
        </br>
        少ないスペースで多くの情報を入れるには？を考え工夫しました。
      </h6>
      <h6 class="left-align">
        ◆苦労した点◆
      </h6>
      <h6 class="left-align">
        ・materializeの応用。
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>

<%# ポートフォリオ4  URL、ソースモーダル %>
<div id="modal44" class="modal">
  <div class="modal-content">
    <h4>ShowGo's Website</h4>
    <h5>URLやソースコード</h5>
    <div class="modal-content__detail">
      <h6 class="left-align">
        ◆URL◆
      </h6>
      <h6 class="left-align">
        <%= link_to "ShowGo's Website", "", target: :_blank %>
      </h6>
      <h6 class="left-align">
        ◆ソースコード(Github)◆
      </h6>
      <h6 class="left-align">
        <%= link_to "https://github.com/Shogo-Sakai/portfolio", "https://github.com/Shogo-Sakai/portfolio", target: :_blank %>
      </h6>
    </div>
  </div>
  <%# <div class="modal-footer"> %>
    <%# <a href="#experiences" class="modal-close waves-effect waves-green btn-flat">Close</a> %>
  <%# </div> %>
</div>