<div class="contents_container contents-about z-depth-5">
  <%=render "about"%>
</div>
<div class="parallax-container z-depth-2">
  <div class="parallax "><img src="/assets/live1.JPG" class="p-image about-experience"></div>
</div>
<div class="contents_container contents-experience z-depth-5">
  <%=render "experience"%>
</div>
<div class="parallax-container z-depth-2">
  <div class="parallax"><img src="/assets/spring2.JPG" class="p-image experience-technology"></div>
</div>
<div class="contents_container contents-technology z-depth-5">
  <%=render "technology"%>
</div>
<div class="parallax-container z-depth-2">
  <div class="parallax"><img src="/assets/summer.JPG" class="p-image technology-portfolio"></div>
</div>
<div class="contents_container contents-portfolio z-depth-5">
  <%=render "portfolio"%>
</div>
<%# <div class="parallax-container z-depth-2"> %>
  <%# <div class="parallax"><img src="/assets/autumn.JPG" class="p-image portfolio-hobby"></div> %>
<%# </div> %>
<%# <div class="contents_container contents-hobby z-depth-5"> %>
  <%# <%= render "hobby"  %>
<%# </div> %>
<div class="parallax-container z-depth-2">
  <div class="parallax"><img src="/assets/winter1.JPG" class="p-image hobby-contact"></div>
</div>
<div class="contents_container contents-contact z-depth-5">
  <%=render "contact"%>
</div>
