<div class="contents_container contents-about">
  <%=render "about"%>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/live1.JPG" class="p-image about-experience"></div>
</div>
<div class="contents_container contents-experience">
  <%=render "experience"%>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/spring2.JPG" class="p-image experience-technology"></div>
</div>
<div class="contents_container contents-technology">
  <%=render "technology"%>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/summer.JPG" class="p-image technology-portfolio"></div>
</div>
<div class="contents_container contents-portfolio">
  <%=render "portfolio"%>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/autumn.JPG" class="p-image portfolio-hobby"></div>
</div>
<div class="contents_container contents-hobby">
  <%=render "hobby"%>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/assets/winter1.JPG" class="p-image hobby-contact"></div>
</div>
<div class="contents_container contents-contact">
  <%=render "contact"%>
</div>
