<!DOCTYPE html>
<html>
  <head>
    <title>ShowGoGOGO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="Shogo Sakai" content="HTMQ">
    <meta http-equiv="content-language" content="ja">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="style.css" media="screen">

    <%# レスポンシブ対応 %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%# google fonts %>
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    <%# fontawesome %>
    <script src="https://kit.fontawesome.com/48075287ab.js"></script>
  </head>

  <body>
    <%= yield %>

    <%# google mapsの読み込み（application.html.erbではモーダルを閉じた後mapが表示されない） %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCozhxsvliH5mdbfrwTbleyMTECVS1t3c4&callback=initMap" async defer></script>

  </body>
</html>
