<!DOCTYPE html>
<html>
  <head>
    <title>ShowGoGOGO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="Shogo Sakai" content="HTMQ">
    <meta http-equiv="content-language" content="ja">

    <%# google fonts %>
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    <%# css reset %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# google mapsの読み込み（application.html.erbではモーダルを閉じた後mapが表示されない） %>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCozhxsvliH5mdbfrwTbleyMTECVS1t3c4&callback=initMap" async defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
